@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


body {
    background-color: rgb(38, 38, 71);
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arimo;
}
#mensagem, #senha, #msg, #anos {
    align-items: last baseline;
    -webkit-text-stroke: 0.3px rgb(255, 255, 255); 
    text-shadow: 1px black;
    font-size: 30px;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    padding: 30px;
    border-radius: 50px;
    width: 330px;
    border: 5px solid white;
    text-align: center;
}
button {
    background-color: blue;
    border-radius: 1000px;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
button:hover {
    box-shadow: 0 4px 12px white;
}
label {
    padding: 10px;
    margin: 15px;
}
input {
    padding: 5px;
    margin: 15px;
}
form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#botoes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.notificacoes {
    border: 1px solid white;
    margin: 15px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(38, 38, 71);
}